

RewriteEngine On





# En un servidor wer se pone solo asi:   RewriteBase /
# En localhost se pone todo lo que viene despues de http://localhost/

RewriteBase /EjemploAplicacionSPA/
RewriteCond %{SCRIPT_FILENAME} !-d 
RewriteCond %{SCRIPT_FILENAME} !-f 
#RewriteRule ^(.*)$ index.html?op=$1 [L]


#=========================================================================================>>>>>

 #RewriteCond %{HTTP_HOST} !^www.example.com$
 #RewriteCond %{HTTP_HOST} ^blog\.example.com$
 #RewriteRule ^/(.*) http://blog.example.com/index.php/$1 [L, QSA]



 #RewriteRule ^/(.*) http://blog.example.com/index.php/$1 [L, QSA]


 #=========================================================================================>>>>>


 RewriteRule ^/(.*) https://josemiguellizarraga.github.io/EjemploAplicacionSPA/index.html/$1 [L, QSA]














